@mixin buttonStyle ($bg: green, $w: 200px) {
    width: $w;
    padding: 6px 32px;
    border-radius: 8px;
    background-color: $bg;
    color: #fff;
    border: none;
}
@mixin listflex($bg:'red-color'){
    display: flex;
    align-items:center;
    justify-content: space-between;
    background-color: $bg;
    gap: 30px;
  }
  @mixin item{
    width: 100px;
    height: 100px;
    background-color: black;
    list-style: none;
  }